.Editors-wrapper {
  .editor-title {
    margin-right: 10px;
  }
  .close-tab {
    position: absolute;
    right: 2px;
    top: 13px;
    color: #ccc;
    &:hover {
      font-size: 130%;
    }
  }
}
